nav.top-nav {
	height: 122px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
nav.top-nav a.page-title {
	line-height: 122px;
	font-size:48px;
}
#front-page-logo {
	display: inline-block;
	height:100%;
	pointer-events: none;
}

#logo-container {
	height:77px;
	margin-bottom:32px;
}

ul.side-nav.fixed li.logo {
	text-align: center;
	margin-top: 12px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

ul.side-nav.fixed li.logo:hover {
    background-color: transparent;
}

.bold > a {
	font-weight:bold;
}

header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

#DP-title {
	padding-top:1.5em;
}

#slide-out {
	overflow-y:auto;
}

.collapsible-body li a {
	margin:0 !important;
}